* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}

.container {
    width: 95%;
    margin: auto;
    background-color: #fff;
}

header {
    height: 500px;
    width: 100%;
    background-color: teal;
}

.top_header {
    height: 100px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 15%;
    height: 100%;
    /* background-color: black; */
}

.logo img {
    width: 100%;
}

.menu_bar {
    width: 70%;
    /* background-color: black; */
}

.menu_item {
    width: 100%;
    /* background-color: #fff; */
}

.menu_item nav ul {
    float: right;
    padding-right: 35px;
}

.menu_item nav ul li {
    display: inline-block;
}

.menu_item nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 25px;
    background-color: teal;
}

.menu_item nav ul li a:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.toggol_menu {
    display: none;
}